@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

@import 'config';

// Reset style
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

// Global styles
body::before {
	background: url('../images/bg-desktop.svg') no-repeat;
	content: '';
	display: block;
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

body {
	background: $secondary-color;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	color: $primary-color;
	font-family: $font-body;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	padding: 20px 50px;
	font-size: 16px;
}

header {
	width: 100%;
	text-align: left;
	margin-bottom: 50px;

	.logo {
		width: 200px;
	}
}

.content {
	img {
		width: 400px;
		margin-bottom: 50px;
	}

	&__text {
		margin: auto;
		width: 80%;
		max-width: 700px;

		&__title {
			font-family: $font-heading;
		}

		&__desc {
			line-height: 1.6;
			margin: 20px auto 30px;
		}

		&__btn {
			border-radius: 30px;
			border: none;
			outline: none;
			cursor: pointer;
			width: 230px;
			padding: 13px;
			color: $secondary-color;
			background: $primary-color;
		}
	}
}

footer {
	position: absolute;
	bottom: 50px;

	i {
		border-radius: 50%;
		border: 1px solid $primary-color;
		width: 35px;
		height: 35px;
		line-height: 35px !important;
		margin: 0 5px;
		cursor: pointer;
	}
}

@import 'media';
